@import '../../styles/mixins.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.prompt {
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	justify-content: center;
	text-align: center;
	font-size: 0.85rem;
	width: 53%;
	color: silver;
	transition: all 3s;
	margin-top: 1%;

	&__buttons-container {
		margin-left: 10px;
	}
	&__button {
		font-size: 0.8rem;
		font-style: normal;
		margin-left: 3%;
		&:hover {
			color: white;
		}
	}
	&__next-button {
		margin-left: 9%;
	}
	@include laptop-small() {
		font-size: 0.7rem;
	}
	@include tablet-only() {
		font-size: 0.6rem;
	}
	@include mobile-only() {
		font-size: 0.5rem;
		margin-top: 8%;
		width: 60%;
	}
	@include mobile-small-only() {
		position: relative;
		z-index: 29;
		font-size: 0.5rem;
		margin-top: 15%;
		padding-bottom: 2%;
		top: 8%;
		flex-direction: column;
		&__button {
			border: 1px solid whitesmoke;
			border-radius: 3px;
			font-size: 0.4rem;

			padding: 1% 4%;
		}
		&__buttons-container {
			justify-content: center;
			// border: 1px solid whitesmoke;
			width: 100%;
		}
	}
}
