.tooltip {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 10px;
  white-space: wrap;
  border: 1px solid silver;
  max-width: 400px;
  transition: all 1s ease-in-out;
}
