@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.audioPlayer {
	display: flex;
	position: absolute;
	top: 15px;
	right: 110px;
	justify-content: flex-end;
	align-items: center;
	justify-items: space-between;
	flex-direction: row;
	width: 40%;
	height: 40px;
	color: silver;
	font-family: 'Maven Pro', sans-serif;
	margin-right: -14vw;
	z-index: 8;

	&__speaker {
		height: 30px;
		width: 30px;
	}
	&__speaker-container {
		background-color: transparent;
		border: none;
		outline: none;
	}
	&__controls-container {
		display: flex;
		align-items: center;
	}
	&__play-pause {
		// background-color: black;
		background-color: transparent;
		color: black;
		height: 48px;
		width: 30px;
		border: none;
		margin-left: 10px;
		outline: none;
		margin-right: 11px;
		&:hover {
			color: white;
		}
	}
	&__play-pause-img-light {
		color: black;
		height: 32px;
		width: 32px;
		margin-right: 40px;
	}
	&__vol {
		color: silver;
		font-size: 1.8rem;
		border: 1px solid black;
		border-radius: 10px;
		outline: none;
		background-color: black;
		margin-right: 10px;
		&:hover {
			color: white;
		}
	}

	&__vol-light {
		color: black;
		font-size: 1.3rem;
		outline: none;
		border: 2px solid black;
		border-radius: 50%;
		margin-left: 8px;

		&:hover {
			color: white;
			background-color: black;
		}
	}
}
