@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.resources {
	color: silver;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1000px;

	&__content-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-left: $not-main-margin-left;
		width: 50%;
	}
	&__header {
		width: 100%;
		margin-top: 2.5%;
		margin-left: $not-main-margin-left;
		font-size: $header-text-size;
		font-family: 'Syncopate', sans-serif;
		color: white;
		margin-bottom: 1.5%;
	}
	&__mindfulness-container {
		display: flex;
		width: 35%;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__mindfulness-title {
		color: white;
	}
	&__mindfulness-content {
		display: flex;
		flex-direction: column;
	}
	&__journalling-container {
		margin-left: 170px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__journalling-title {
		color: white;
	}
	&__journalling-content {
		display: flex;
		flex-direction: column;
	}
	&__gamification-container {
		margin-left: 170px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__gamification-title {
		color: white;
	}
	&__gamification-content {
		display: flex;
		flex-direction: column;
	}
	&__link {
		font-size: 1.3rem;
		margin-bottom: 20px;
		text-decoration: none;
		color: silver;
	}
}
