@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.about {
	background-color: black;
	color: white;
	height: 200vh;
	width: 100vw;
	margin-left: 15vw;
	font-family: 'Comfortaa', cursive;
	display: flex;
	flex-direction: column;

	&__header {
		font-family: 'Syncopate', cursive;
		margin-top: $top-margin-not-main;
		font-size: $header-text-size;
		margin-bottom: 0;
	}

	&__description {
		width: 49%;
		font-size: 1.4rem;
		color: silver;
	}
	&__form-header {
		margin-top: 3vh;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__form-identifier {
		margin: 1vh 0;
	}
	&__form-name-email-input-modalize-container {
		display: flex;
		align-items: center;
	}
	&__modalize {
		font-family: 'Syncopate', cursive;
		margin-top: $top-margin-not-main;
		font-size: $header-text-size;
		width: 20%;
		opacity: 0;
		position: relative;
		top: -10%;
		transition: all 1s;
		margin-left: 2%;
		// border: 1px solid red;
	}
	&__input {
		border-radius: 6%;
		background-color: black;
		color: silver;
		border: 1px solid silver;
		padding: 4px;
		outline: none;
		width: 10vw;
		font-size: 1.1rem;
		height: 4vh;
	}
	&__message {
		height: 15vh;
		width: 30%;
		border-radius: 3%;
		resize: none;
	}

	&__form-submit-button {
		width: 5vw;
		font-family: 'Syncopate', cursive;
		margin-top: 1vh;
		padding: 0.3%;
		font-size: 0.8rem;
		outline: none;
		border: 1px solid silver;
		background-color: black;
		color: white;
		border-radius: 5%;
		&:hover {
			transition: all 0.4s;
			background-color: white;
			color: black;
			text-shadow: 3px 3px 3px silver;
		}
	}
}
.-light {
	color: black;
	background-color: white;
}
