@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap');

.nav {
	transition: 1s all;
	position: absolute;
	display: flex;
	flex-direction: column;
	font-family: 'Comfortaa', cursive;
	width: 50px;
	height: 100%;
	font-size: 1.3rem;

	&__links-container {
		opacity: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		color: silver;
		padding: 10px;
		margin-left: -25px;
	}
	&__links-container-light {
		opacity: 0;
		display: flex;
		flex-direction: column;
		font-size: 1.3rem;
		width: 100%;
		color: black;
		padding: 10px;
		margin-left: -25px;
	}
	&__active {
		display: list-item;
		list-style-position: outside;
	}
	&__arrow-container {
		margin-top: 20px;
		background-color: transparent;
		border: none;
		outline: none;
	}
	&__arrow {
		color: silver;
		border: none;
		background-color: transparent;
		opacity: 1;
		outline: none;
		height: 30px;
		width: 30px;
		&:focus {
			border: none;
			outline: none;
		}
	}
	&__link {
		text-decoration: none;
		color: silver;
		transition: all 0.7;
		margin-bottom: 8px;
		&:hover {
			transition: all 0.7;
			color: white;
		}
	}
	&__link-light {
		text-decoration: none;
		color: black;
		transition: all 0.7;
		margin-bottom: 8px;
		&:hover {
			transition: all 0.7;
			color: white;
			text-shadow: 1px 1px 1px black;
		}
	}
	&__logout-button {
		width: 200%;
		color: silver;
		border: none;
		background-color: transparent;
		font-family: 'Comfortaa', cursive;
		padding: 0;
		text-align: left;
		font-size: 1.3rem;
		margin-bottom: 8px;
		outline: none;
		&:hover {
			transition: all 0.7;
			color: white;
		}
	}

	&__logout-button-light {
		width: 200%;
		color: black;
		border: none;
		background-color: transparent;
		font-family: 'Comfortaa', cursive;
		padding: 0;
		text-align: left;
		font-size: 1.3rem;

		margin-bottom: 8px;
		outline: none;
		&:hover {
			transition: all 0.7;
			color: white;
			text-shadow: 1px 1px 1px black;
		}
	}
	@include laptop-small() {
		font-size: 1.2rem;

		&__logout-button,
		&__logout-button-light {
			font-size: 1.2rem;
		}
	}

	@include tablet-only() {
		font-size: 1rem;
		&__logout-button,
		&__logout-button-light {
			font-size: 1.1rem;
		}
	}

	@include mobile-only {
		display: none;
	}
}
