.wrapper {
  flex-direction: column;
  position: relative;
}

.tag {
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-radius: 8px;
  padding: 4px 4px;
  margin-right: 4px;
  color: black;
  background-color: rgba(192, 192, 192, 0.5);
}

.tagsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.tagsLabel {
  margin-right: 8px;
}

.tagsInputContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -210%;
  z-index: 3;
  border: 1px solid rgba(192, 192, 192, 0.5);
  background-color: black;
  padding: 8px;
  border-radius: 8px;
}

.tagsInput {
  width: 100%;
}

.tagsElipsis {
  color: 1px solid rgba(255, 255, 255, 0.9);
  font-size: 2rem;
}

.tagsInputSectionButton {
  border: none;
  font-size: 1.5rem;
  padding: 4px;
}
