.page {
	position: absolute;
	top: 10000px;
	left: 0;
	right: 0;
	background-color: black;
}

.fad-appear,
.fad-enter {
	opacity: 0;
	z-index: 1;
	transition: 1s all;
	background-color: black;
}

.fad-appear-active,
.fad-enter.fad-enter-active {
	opacity: 1;
	transition: opacity 550ms linear 550ms;
	background-color: black;
}

.fad-exit {
	position: absolute;
	opacity: 1;
	background-color: black;
}

.fad-exit.fade-exit-active {
	position: absolute;
	top: 10000px;
	opacity: 0;
	transition: opacity 1000ms linear;
	background-color: black;
}

//light stuff
.fade-appear,
.fade-enter {
	opacity: 0;
	z-index: 1;
	transition: 1s all;
	background-color: white;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 550ms linear 550ms;
	background-color: white;
}

.fade-exit {
	position: absolute;
	opacity: 1;
	background-color: white;
}

.fade-exit.fade-exit-active {
	position: absolute;
	top: 10000px;
	opacity: 0;
	transition: opacity 1000ms linear;
	background-color: white;
}

.App {
	background-color: black;
	margin: 0;
	width: 100%;
	height: 100vh;
}
.-light {
	color: black;
	background-color: white;
}

#root {
}
