html {
  overflow: hidden;
}
.page {
  position: absolute;
  height: 100%;
  top: 10000px;
  left: 0;
  right: 0;
  background-color: black;
}

.fad-appear,
.fad-enter {
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: 1s all;
  background-color: black;
}

.fad-appear-active,
.fad-enter.fad-enter-active {
  opacity: 1;
  transition: opacity 550ms linear 550ms;
  background-color: black;
}

.fad-exit {
  position: absolute;
  opacity: 1;
  transition: 500ms all;
  background-color: black;
}

.fad-exit.fad-exit-active {
  position: absolute;
  opacity: 0;
  transition: 1s all;
  transition: opacity 500ms linear;
  background-color: black;
}

//light stuff
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  transition: 1s all;
  background-color: white;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 550ms linear 550ms;
  background-color: white;
}

.fade-exit {
  position: absolute;
  opacity: 1;
  background-color: white;
}

.fade-exit.fade-exit-active {
  position: absolute;
  top: 10000px;
  opacity: 0;
  transition: opacity 1000ms linear;
  background-color: white;
}
.fad-enter-done {
  background-color: black;
}

.App {
  background-color: black;
  margin: 0;
  height: 100%;
  padding-bottom: 1%;
  font-family: 'Syncopate', sans-serif;
  overflow: hidden;
}
.-light {
  color: black;
  background-color: white;
}

html {
  background-color: black;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 800ms;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 600ms;
  transition-delay: 800ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(192, 192, 192, 0.5);
  transition: all 500ms ease-in-out;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 192, 192, 0.8);
  transition: all 500ms ease-in-out;
}
