.page {
    position:absolute;
    top:10  000px;
    left:0;
    right:0;
    // transition:1s all;

}

.fade-appear,.fade-enter{
    opacity:0;
    z-index:1;
    transition:1s all;

}

.fade-appear-active,
.fade-enter.fade-enter-active{
    opacity:1;
    transition: opacity 550ms linear 550ms;
}

.fade-exit {
    position:absolute;
    opacity:1;
}

.fade-exit.fade-exit-active{
    position:absolute;
    top:10000px;
    opacity:0;
    transition:opacity 1000ms linear;
}