.wrapper {
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem;
  margin-right: 0.25rem;
  color: black;
  background-color: rgba(192, 192, 192, 0.5);
  width: fit-content;
}
