@import '@styles/mixins.scss';
@import '@styles/variables.scss';
@import '@styles/base.scss';

.wrapper {
  transition: 1s all;
  position: fixed;
  right: -110px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  width: 375px;
  height: 100%;
  font-size: 1.3rem;
  z-index: $sidebar-z-index;

  &.sidebarOpen {
    right: 0;
    visibility: visible;
  }
}

.arrowContainer {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.arrow {
  color: silver;
  border: none;
  background-color: transparent;
  opacity: 1;
  outline: none;
  height: 30px;
  width: 30px;
  right: -55px;
  transition: all 1.5s;
  transform: rotate(180deg);

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    content: url('../../assets/Icons/down-arrow-white-2.png');
    transition: all 0.5s;
    cursor: pointer;
  }

  &.arrowRotate {
    transform: rotate(0deg);
    transition: all 1.5s;
  }
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  border: $silver-border-default;
  border-radius: $default-border-radius;
  transition: all 1s ease-in-out;
  width: 100%;
  padding-left: 8px;
  max-height: 85vh;
  background: transparent;
  visibility: hidden;

  &.sidebarOpen {
    opacity: 1;
    transition: all 1s ease-in-out;
    background: black;
    visibility: visible;
  }
}

.sortContainer {
  padding-top: 8px;
  font-size: 0.9rem;

  label {
    color: $silver-default;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.sortControls {
  background: black;
  font-family: 'Syncopate', sans-serif;
  border: 2px solid rgba(192, 192, 192, 0.8);
  border-radius: 8px;
  padding: 4px 8px;
  color: rgba(192, 192, 192, 0.8);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
}
