.favStarIcon {
  width: 1.5625rem;
  height: 1.5625rem;
  stroke: silver;
  stroke-width: 0.125rem;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    fill: rgba(192, 192, 192, 0.5);
    transition: all 200ms ease-in-out;
  }
}

.starred {
  fill: silver;
  transition: all 200ms ease-in-out;
}
