.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newEntry {
  display: flex;
  height: 70px;
  align-items: center;
}

.customPromptsList {
  width: 50%;
}
