@import '@styles/mixins.scss';

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dashboardTitle {
  margin: 36px 0;
}
.searchSection {
  margin: 1.25rem 0;
  width: 70%;
  text-align: center;

  h2 {
    margin-bottom: 0.625rem;
    color: #333;
  }
}

.searchComponent {
  max-width: 25rem;
  margin: 0 auto;
}

.newEntry {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;

  h2 {
    margin: 0;
  }
}

.entryTypeToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;

  h2 {
    font-size: 0.9rem;
    color: $silver-active;
  }
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 1rem;
}

@include mobile-all {
  .dashboardTitle {
    margin-top: 80px;
    margin-bottom: 12px;
  }
  .actionsContainer {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    flex-direction: column;
    gap: 0.75rem;
    align-items: stretch;
  }

  .newEntry {
    width: 100%;
    justify-content: center;
    gap: 0.5rem;

    h2 {
      font-size: 0.9rem;
      color: $silver-active;
    }
  }

  .entryTypeToggle {
    justify-content: center;
    width: 100%;
  }

  .globalViewButton {
    display: none;
  }
}
