@import '@styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: $entries-list-columns;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.nodeValue {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.titleButton {
  font-size: 1.2rem;
  margin-left: 0;
  padding: 0;
}

.editButton {
  height: 2rem;
  width: 2rem;
  fill: rgba(192, 192, 192, 0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    fill: rgba(192, 192, 192, 1);
    transition: all 0.2s ease-in-out;
  }
}

.contentButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    color: white;
    transition: all 0.2s ease-in-out;
  }
}

.editContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
