#header g {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	opacity: 0.2;
}

#rachel-chunk path {
	stroke-dasharray: 26526;
	stroke-dashoffset: 26526;
	animation-name: draw;
	animation-duration: 50s;
	animation-delay: 1s;
	animation-fill-mode: forwards;

	@keyframes draw {
		from {
			stroke-dashoffset: 26526;
		}
		to {
			stroke-dashoffset: 25000;
		}
	}
}

#test-header path {
	stroke-dashoffset: 1702.4;
	stroke-dasharray: 1702.4;

	animation-name: draw2;
	animation-duration: 10s;
	animation-fill-mode: forwards;

	@keyframes draw2 {
		from {
			stroke-dashoffset: 1702.4;
		}
		to {
			stroke-dashoffset: 0;
		}
	}
}
