@import '@styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.connectStarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.topLevelActive {
  background-color: rgba(192, 192, 192, 0.2) !important;
  border-color: rgba(192, 192, 192, 0.8) !important;
  color: white !important;
}

.editContainer {
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: $text-entry-z-index;
}
.saveButton {
  margin-top: 8px;
}

.titleInput {
  min-width: 200px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.titleInputNoBorder {
  border: 1px solid rgba(192, 192, 192, 0);
  transition: all 2s;

  &:hover {
    border: 1px solid rgba(192, 192, 192, 1);
    transition: all 2s;
  }
}

.grid3Columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 72px;
}

// Connection lines wrapper
.connectionLinesWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: black;
}
