@import '../../../styles/mixins.scss';

.wrapper {
  padding: 100px;
  @include flex-center-column;
}
.tagsInputContainer {
  display: flex;
  align-items: center;
}

.currentTagsContainer {
  width: 100%;
  align-items: center;
}

.tagsInputContainer {
  display: flex;
  align-items: center;
}
