@import '../../../styles/mixins.scss';

.wrapper {
  padding: 100px;
  @include flex-center-column;
}
.tagsInputContainer {
  display: flex;
  align-items: center;
}

.currentTagsContainer {
  width: 100%;
  align-items: center;
}

.tagsInputContainer {
  display: flex;
  align-items: center;
}

// .tagsInput {
//   width: 100%;
// }

// .tagsElipsis {
//   color: 1px solid rgba(255, 255, 255, 0.9);
//   font-size: 2rem;
// }

// .tagsInputSectionButton {
//   border: none;
//   font-size: 1.5rem;
//   padding: 4px;
// }
