@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.login-register {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	color: silver;
	background-color: black;

	&__title {
		font-size: 2.5rem;
		margin-top: 50px;
		font-family: 'Syncopate', sans-serif;
	}
	&__alert {
		color: red;
		font-size: 1.1rem;
	}
	&__alert-open {
		opacity: 1;
		transition: all 1s;
	}
	&__alert-closed {
		opacity: 0;
		line-height: 0.2;
		transition: all 1s;
	}
	&__form {
		width: 60%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__input-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: black;
		border-radius: 10px;
	}
	&__input {
		padding: 2% 1%;
		border: none;
		font-size: 1.1rem;
		border-bottom: 1px solid silver;
		outline: none;
		color: silver;
		display: flex;
		justify-content: center;
		background-color: black;
		margin: 7% 0%;
		border-radius: 1px;
		transition: all 2s;
		&:hover {
			border-bottom: 1px solid white;
			transition: all 2s;
			border-radius: 3px;
		}
	}
	&__submit-button {
		@include main-button-style();
		padding: 8px 24px;
		font-size: 1rem;
		margin-top: 20px;
		margin-bottom: 2%;
	}
	&__signup-link {
		text-decoration: none;
		color: white;
		margin-left: 4px;
		&:hover {
			transition: all 2s;
			text-shadow: 1px 0px 1px silver;
			border-radius: 3px;
		}
	}
	&__signup {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: grey;
		justify-content: center;
	}

	@include mobile-small-only() {
		&__input-container {
			width: 100%;
		}
		&__title {
			font-size: 1.7rem;
			margin-top: 12vh;
			margin-bottom: 0%;
		}
		&__input {
			text-align: center;
			font-size: 1rem;
			margin-top: 2vh;
		}
		&__submit-button {
			margin-top: 3vh;
			font-size: 1rem;
		}
		&__login-button,
		&__register-button {
			font-size: 0.8rem;
		}
		&__signup,
		&__signup-link {
			font-size: 1rem;
		}
	}
	@include mobile-only() {
		&__input-container {
			width: 100%;
		}
		&__title {
			font-size: 2.9rem;
			margin-top: 15%;
			margin-bottom: 0%;
		}
		&__input {
			text-align: center;
			font-size: 1.2rem;
		}
		&__login-button {
			font-size: 1.2rem;
		}
		&__signup,
		&__signup-link {
			font-size: 1.3rem;
		}
	}
	@include tablet-only() {
		&__input-container {
			width: 100%;
		}
		&__title {
			font-size: 2.9rem;
		}
		&__input {
			text-align: center;
			font-size: 1.2rem;
		}
		&__submit-button {
			font-size: 1rem;
		}
		&__signup,
		&__signup-link {
			font-size: 1.1rem;
		}
		&__login-button {
			font-size: 1.2rem;
		}
		&__register-button {
			font-size: 1.2rem;
		}
	}
	@include laptop-small() {
		&__input-container {
			width: 100%;
		}
		&__title {
			font-size: 2.9rem;
		}
		&__input {
			text-align: center;
			font-size: 1.2rem;
		}
		&__submit-button {
			margin-top: 5%;
			font-size: 1rem;
		}
		&__signup,
		&__signup-link {
			font-size: 1.1rem;
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px black inset !important;
	-webkit-text-fill-color: silver;
}
