.wrapper {
  font-family: 'Syncopate', sans-serif;
  font-size: 1.7rem;
  color: silver;
  background-color: black;
  text-transform: uppercase;
  margin: 8px;
  transition: all 0.3s;
  z-index: 10;
  border: none;
  width: fit-content;

  &:hover {
    transition: all 0.3s;
    color: white;
    cursor: pointer;
  }

  &:disabled {
    text-transform: strikethrough;
    color: rgba(192, 192, 192, 0.3);
  }
}
