.wrapper {
  font-family: 'Syncopate', sans-serif;
  font-size: 1.7rem;
  color: silver;
  background-color: black;
  text-transform: uppercase;
  margin: 0.5rem;
  transition: all 0.3s;
  border: none;
  width: fit-content;

  &:hover {
    transition: all 0.3s;
    color: white;
    cursor: pointer;
  }

  &:disabled {
    text-transform: strikethrough;
    color: rgba(192, 192, 192, 0.3);
  }
}

.navLink {
  font-family: 'Poppins', sans-serif;
  color: silver;
  transition: all 0.7;
  margin-bottom: 0.25rem;
  margin-top: 0;
  width: 12.5rem;
  text-align: left;
  font-size: 1.25rem;
  margin-left: 0;
  padding-left: 0;
  text-transform: none;
  background-color: transparent;

  &:hover {
    transition: all 0.7;
    color: white;
  }
}
