@import '@styles/variables';
@import '@styles/mixins';

.timeInput {
  color: $silver-default;
  background: black;
  outline: none;
  padding: 0.5rem;
  min-width: 3.25rem;
  width: auto;
  font-size: 1.2rem;
  margin-right: 0.5rem;

  @include default-hover-border();
}
