.wrapper {
  background: black;
  font-family: 'Syncopate', sans-serif;

  border: 0.125rem solid rgba(192, 192, 192, 0.8);
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  color: rgba(192, 192, 192, 0.8);
  text-transform: uppercase;
  outline: none;

  margin-left: 0.5rem;
}
