@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.custom-prompts {
	&__toggle {
		display: flex;
		align-items: center;
		font-size: 1.7rem;
	}
	&__title {
		margin-top: 20px;
		font-size: 1.7rem;
		font-family: 'Syncopate';
	}
	&__prompts-container {
		padding-left: 0;
	}
	&__prompt {
		display: flex;
	}
	&__content {
		width: 40%;
		margin-bottom: 2%;
	}
	&__delete-button {
		font-size: 1.5rem;
		margin-left: 5%;
		transition: all 0.2s;

		&:hover {
			color: white;
			cursor: pointer;
			color: red;
			font-size: 1.67rem;
			transition: all 0.5s;
		}
	}
	&__on-off {
		height: 5%;
	}
	&__add-new {
		font-size: 0.8rem;
		margin-left: 3%;
		font-family: 'Syncopate', sans-serif;
		transition: all 0.2s;
		&:hover {
			color: white;
			cursor: pointer;
			font-size: 0.85rem;
			transition: all 0.5s;
		}
	}
	&__add-prompt-input {
		display: flex;
		margin-top: 1%;
		width: 80%;
	}
	&__input {
		color: white;
		background-color: black;
		border-radius: 7px;
		margin-right: 2%;
		border: 1px solid grey;
		text-align: center;
		font-size: 1rem;
		padding: 0.5% 0;
		width: 30%;
		outline: none;
	}
	&__button-container {
		display: flex;
		flex-direction: column;
		width: 15%;
	}
	&__button {
		font-family: 'Syncopate', sans-serif;
		border-radius: 7px;
		padding: 3% 1%;

		outline: none;
		width: 90%;

		&:hover {
			background-color: black;
			color: white;
			cursor: pointer;
		}
	}

	@include mobile-small-only() {
		&__title {
			font-size: 1rem;
			margin-top: 3%;
			display: flex;
			width: 100%;
			align-items: center;
		}
		&__add-new {
			font-size: 0.5rem;
			border: 1px solid whitesmoke;
			margin-left: 6%;
			padding: 1% 2%;
			border-radius: 3px;
		}
		&__add-prompt-input {
			display: flex;
			flex-direction: column;
		}
		&__input {
			width: 80%;
			margin-top: 3%;
			font-size: 1.1rem;
			text-align: left;
			padding-left: 2%;
		}
		&__button {
			margin-top: 4%;
			width: 40%;
			padding: 2% 0;
		}
		&__cancel-button {
			margin-left: 0;
		}
		&__content {
			width: 60%;
			margin-bottom: 2%;
			font-size: 0.8rem;
		}
	}
	@include laptop-small() {
		&__title {
			font-size: 1.4rem;
		}
		&__input {
			padding: 0;
			font-size: 1.1rem;
		}
		&__button {
			width: 80%;
			padding: 2% 0;
		}
	}
}

.-light {
	color: black;
	background-color: rgb(219, 98, 98);
}
.invisible {
	display: none;
}
.visible {
	display: flex;
	flex-direction: column;
}
.active {
	color: black;
	background-color: white;
}
.inactive {
	color: grey;
	background-color: black;
}
