@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.entries {
	&__sort-container {
		font-size: 1.3em;
		color: grey;
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	&__sort-select {
		margin-left: 10px;
		background-color: black;
		color: white;
		font-size: 1em;
		padding: 2px;
		border-radius: 5px;
		font-family: 'Poppins';
		&:hover {
			cursor: pointer;
		}
	}
}
