@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.entries {
	&__sort-container {
		font-size: 1.3em;
		color: grey;
		display: flex;
		align-items: center;
		margin-bottom: 0.9375rem;
	}
	&__sort-select {
		margin-left: 0.625rem;
		background-color: black;
		color: white;
		font-size: 1em;
		padding: 0.125rem;
		border-radius: 0.3125rem;
		font-family: 'Poppins';
		&:hover {
			cursor: pointer;
		}
	}
}
