.wrapper {
  display: grid;
  grid-template-columns: 7% 60% 28% 5%; /* Updated widths for each column */
  width: 100%;
  align-items: center;
  max-height: 3.125rem;
}

.content {
  color: rgba(192, 192, 192, 0.8);
  transition: all 200ms ease-in-out;
  margin-right: 0.25rem;

  &:hover {
    transition: all 200ms ease-in-out;
    color: rgba(192, 192, 192, 1);
    cursor: pointer;
  }
}

.deleteButton {
  font-size: 0.8rem;

  &:hover {
    transition: all 200ms ease-in-out;
    color: rgba(192, 192, 192, 1);
    cursor: pointer;
  }
}

.favStarIcon {
  width: 1.5625rem;
  height: 1.5625rem;
  stroke: silver;
  stroke-width: 0.125rem;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    fill: rgba(192, 192, 192, 0.5);
    transition: all 200ms ease-in-out;
  }
}

.starred {
  fill: silver;
  transition: all 200ms ease-in-out;
}
