.wrapper {
  display: grid;
  grid-template-columns: 7% 60% 28% 5%; /* Updated widths for each column */
  width: 100%;
  align-items: center;
  max-height: 50px;
}

.promptContent {
  color: rgba(192, 192, 192, 0.7);
  transition: all 200ms ease-in-out;

  &:hover {
    transition: all 200ms ease-in-out;
    color: rgba(192, 192, 192, 1);
    cursor: pointer;
  }
}

.promptsList {
  padding: 0;
}

.deleteButton {
  font-size: 0.8rem;

  &:hover {
    transition: all 200ms ease-in-out;
    color: rgba(192, 192, 192, 1);
    cursor: pointer;
  }
}

.favStarIcon {
  width: 25px;
  height: 25px;
  stroke: silver;
  stroke-width: 2px;
  outline: none;
  cursor: pointer;

  &:hover {
    fill: rgba(192, 192, 192, 0.5);
  }
}

.starred {
  fill: silver;
}
