@import '@styles/variables';
@import '@styles/mixins';

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

@include mobile-all {
  .button {
    font-size: 0.85rem;
  }
}

.akasList {
  @include flex-center-column();

  border: 1px solid $silver-default;
  position: absolute;
  top: 2.875rem;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.75rem;
  min-width: 7.5rem;
  text-align: center;
}

.aka {
  color: $silver-faded;
  margin: 0.5rem;
}

.noAkas {
  display: flex;
  width: 6.25rem;
  margin: 0.75rem 0;
}
