@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

#rachel-chunk-landing path {
	stroke-dasharray: 26526.5;
	stroke-dashoffset: 26526;
	animation: drawbean;
	animation-duration: 35s;
	animation-delay: 2s;
	animation-timing-function: ease-in;
	stroke-width: 2;
	opacity: 0.7;
	//The way this is set up seems to be the endpoint of the keyframes functioning as a throttle
	@keyframes drawbean {
		0% {
			stroke-dashoffset: 26526.5;
			stroke-opacity: 0.7;
		}
		60% {
			stroke-dashoffset: 25000;
			stroke-opacity: 1;
		}
		99% {
			stroke-dashoffset: 26526.5;
			stroke-opacity: 0.1;
		}
		100% {
			opacity: 0;
		}
	}
}

.rachel-chunk {
	@include laptop-small() {
		display: none;
	}
	@include mobile-small-only() {
		display: none;
	}
	@include tablet-only() {
		display: none;
	}
}
//Okay so animation // keyframe declarations are globally scoped no matter what??
