@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

#you-svg path {
	stroke-dasharray: 557.856;
	stroke-dashoffset: 557.856;
	animation-name: drango;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	stroke-opacity: 1;
	stroke-linecap: round;
	stroke-linejoin: round;

	@keyframes drango {
		from {
			stroke-dashoffset: 557.856;
		}
		to {
			stroke-dashoffset: 0;
		}
	}
}
#you-svg {

margin:0;
}
