@import '@styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: 10% 73% 5%;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 0.375rem;
}

.deleteButton {
  font-size: 0.8rem;
}
