@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	background-color: black;
	height: 120vh;
	color: white;
	font-family: 'Maven Pro', sans-serif;
	margin: 0 auto;
	position: absolute;
	top: 10vh;
	z-index: 1;

	&__bg-img {
		position: absolute;
		transition: all 5s;
		opacity: 0.01;
		right: 100;
		width: 100%;
		top: -10vh;
		height: 114vh;
		z-index: 3;
	}
	&__you-are {
		width: 100%;
		text-align: center;
		font-size: 3rem;
		opacity: 0;
		position: relative;
		top: -56%;
		margin-bottom: 90px;
		font-family: 'Syncopate', sans-serif;
	}

	&__title {
		display: flex;
		justify-content: center;
		font-size: 4.5rem;
		width: 100vw;
		text-align: center;
		margin-top: -40%;
	}
	&__title-not {
		opacity: 0;
		font-family: 'Syncopate', sans-serif;
	}
	&__title-your {
		margin-left: 11vw;
		margin-top: 100px;
		opacity: 0;
		font-family: 'Syncopate', sans-serif;
	}
	&__title-thoughts {
		margin-left: 8vw;
		opacity: 0;
		font-family: 'Syncopate', sans-serif;
	}
	&__description-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: 0;
		width: 100%;
	}
	&__description {
		margin-top: -100px;
		font-size: 2rem;
		margin-right: 0;
		width: 70%;
		opacity: 0;
		color: silver;
		font-family: 'Poppins', sans-serif;
		line-height: 1.1;
		transition: opacity 0.6s;
		text-align: center;
	}
	&__all-buttons-container {
		display: flex;
		justify-content: space-between;
		width: 17%;
	}
	&__login-button,
	&__register-button {
		font-family: 'Syncopate', sans-serif;
		text-decoration: none;
		color: black;
		padding: 4%;
		border-radius: 7px;
		border: 1px solid white;

		border-bottom: 2px solid silver;
		border-left: 2px solid silver;

		opacity: 0;

		background-color: white;
		&:hover {
			color: white;
			background-color: black;
			transition: all 1s;
		}
	}

	@include laptop-small() {
		top: 10vh;
		&__title {
			font-size: 3.9rem;
		}
		&__title-not {
			margin-right: 1.5vw;
		}
		&__title-your {
			margin-right: 1.5vw;
		}
		&__description {
			font-size: 2.1rem;
			width: 80%;
		}
	}
	@include tablet-only() {
		position: absolute;
		top: 20%;
		height: 100vh;
		&__title {
			font-size: 3rem;
		}
		&__description {
			font-size: 1.9rem;
			width: 80%;
		}
		&__title-not {
			margin-right: 1.5vw;
		}
		&__title-your {
			margin-right: 1.5vw;
		}
	}
	@include mobile-only() {
		&__you-are {
			font-size: 1.5rem;
			position: relative;
			top: 20%;
		}
		&__title {
			font-size: 1.8rem;
			margin-top: 0vh;
			margin-left: 10vw;
			margin-right: 0;
			flex-direction: row;
			justify-content: center;
		}
		&__title-not {
			margin-right: 7vw;
			margin-left: -16vw;
		}
		&__title-your {
			margin-right: 7vw;
			margin-left: 20vw;
		}
		&__title-thoughts {
			margin-left: 11vw;
		}
		&__description {
			font-size: 1.6rem;
			width: 80%;
		}
		&__register-button,
		&__login-button {
			@include button-styles;
			padding: 6% 14%;
			font-size: 0.9rem;
			border-radius: 2px;
		}
	}

	@include mobile-small-only() {
		justify-content: center;
		width: 100vw;

		&__you-are {
			font-size: 1.1rem;
			top: -30%;
		}
		&__title {
			font-size: 1.3rem;
			margin-left: 10%;
			margin-right: 0;
			margin-top: -60%;
			flex-direction: row;
			justify-content: center;
		}
		&__title-not {
			margin-right: 3vw;
			margin-left: -16vw;
		}
		&__title-your {
			margin-right: 4vw;
			margin-left: 8vw;
		}
		&__title-thoughts {
			margin-left: 5vw;
		}
		&__description {
			font-size: 1.2rem;
			width: 80%;
		}
		&__all-buttons-container {
			display: flex;
			justify-content: space-between;
			width: 50%;
		}
		&__register-button,
		&__login-button {
			text-align: center;
			padding: 2% 4%;
			font-size: 0.8rem;
			width: 48%;
			border-radius: 5px;
		}
	}
}
