@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	background-color: black;
	color: white;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	font-family: 'Syncopate', sans-serif;

	&__bg-img {
		position: absolute;
		transition: all 5s;
		opacity: 0.01;
		right: 100;
		width: 100%;
		top: -10vh;
		height: 134vh;
		z-index: 3;
	}
	&__you-are {
		text-align: center;
		font-size: 3rem;
		opacity: 1;
		position: relative;
		margin-top: 90px;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		font-size: 4.5rem;
		width: 65vw;
		text-align: center;
	}
	&__title-text {
		margin: 1%;
	}
	&__description-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: 0;
		width: 100%;
	}
	&__description {
		font-size: 2rem;
		margin-right: 0;
		width: 70%;
		opacity: 0;
		color: silver;
		margin: 0;
		margin-bottom: 30px;
		font-family: 'Poppins', sans-serif;
		line-height: 1.1;
		transition: opacity 0.6s;
		text-align: center;
	}
	&__all-buttons-container {
		display: flex;
		justify-content: space-between;
		width: 30%;
	}
	&__login-button,
	&__register-button {
		font-family: 'Syncopate', sans-serif;
		text-decoration: none;
		color: black;
		padding: 12px 17px;
		// width: 20%;
		border-radius: 6px;
		border: 1px solid white;
		border-bottom: 1px solid silver;
		border-left: 1px solid silver;
		opacity: 0;
		background-color: white;
		text-align: center;

		&:hover {
			color: white;
			background-color: black;
			transition: all 1s;
			cursor: pointer;
		}
	}

	@include laptop-xl() {
	}
	@include laptop-small() {
		// top: 10vh;
		&__title {
			font-size: 3.9rem;
			width: 75vw;
		}
		&__description {
			font-size: 2.1rem;
			width: 80%;
		}
	}
	@include tablet-only() {
		position: absolute;
		height: 100vh;
		top: 10%;
		&__title {
			font-size: 3rem;
			width: 88%;
		}
		&__you-are {
			width: 100%;
			top: 30px;
		}
		&__description {
			font-size: 1.7rem;
			width: 80%;
		}
		&__all-buttons-container {
			display: flex;
			justify-content: space-between;
			width: 30%;
		}
	}
	@include mobile-only() {
		&__you-are {
			font-size: 1.5rem;
			position: relative;
		}
		&__title {
			font-size: 1.8rem;
			flex-direction: row;
			justify-content: center;
		}
		&__description {
			font-size: 1.6rem;
			width: 80%;
		}
		&__register-button,
		&__login-button {
			@include button-styles;
			padding: 6% 14%;
			font-size: 0.9rem;
			border-radius: 2px;
		}
	}

	@include mobile-small-only() {
		justify-content: center;
		width: 100vw;
		top: 14%;

		&__you-are {
			font-size: 1.1rem;
		}
		&__title {
			font-size: 1.3rem;
			margin-right: 0;
			flex-direction: row;
			justify-content: center;
		}
		&__description {
			font-size: 1.2rem;
			width: 80%;
		}
		&__all-buttons-container {
			display: flex;
			justify-content: space-between;
			width: 50%;
		}
		&__register-button,
		&__login-button {
			text-align: center;
			padding: 2% 4%;
			font-size: 0.8rem;
			width: 48%;
			border-radius: 5px;
		}
	}
}
