.wrapper {
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  max-height: 72vh;
}

.sortControls {
  background: black;
  font-family: 'Syncopate', sans-serif;
  border: 0.125rem solid rgba(192, 192, 192, 0.8);
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  color: rgba(192, 192, 192, 0.8);
  text-transform: uppercase;
  outline: none;
  margin-left: 0.5rem;
  cursor: pointer;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
  gap: 0.9375rem;
}

.searchContainer {
  flex: 1;
  max-width: 18.75rem;
  min-width: 12.5rem;
}

.searchComponent {
  width: 100%;
}
