@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

  .modal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',cursive;
    &__congratulations{
        font-size:2.2rem;
        font-family: 'Syncopate',sans-serif;
    }

    &__close-button{
        margin-top:15px;
        color:black;
        padding:1% 4%;
        border-radius:20px;
        outline:none;
        transition:all 2s;

        &:hover{
            background-color:black;
            color:white;
        }
    }
  }