@import '@styles/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: black;
}

.inputWrapper {
  display: flex;
  border: $silver-border-default;
  border-radius: $default-border-radius;
  background: black;
  width: 100%;
}

.input {
  width: 90%;
  outline: none;
  border: none;
  background: black;
  color: $silver-default;
  padding-left: 8px;
  font-size: 1.2rem;
  font-family: 'Syncopate', sans-serif;
  margin: 8px;

  &:hover {
    color: $silver-active;
  }
}

.dropdownButton {
  background: none;
  color: $silver-default;
  cursor: pointer;
  transform: rotate(0);
  font-size: 0.7rem;
}

.dropdownButtonOpen {
  transform: rotate(180deg);
}

.dropdownList {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 10%;
  right: 0;
  background-color: black;
  border: $silver-border-default;
  border-radius: $default-border-radius;
  width: fit-content;
  padding: 12px 4px;
  max-height: 40vh;
  overflow-y: scroll;
  z-index: $dropdown-z-index;
}

.option {
  font-size: 1rem;
}

.highlightedOption {
  border: 1px solid white;
  padding: 8px;
  border-radius: $default-border-radius;
  background-color: white;
  color: black;
}
