.wrapper {
  display: grid;
  grid-template-columns: 20% 10% 40% 10% 20%; /* Updated widths for each column */
  width: 100%;
  align-items: center;
}

.goal {
  display: flex;
  justify-content: center;
}

.wordCount {
  display: flex;
  justify-content: flex-end;
}
