@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	position: relative;
	z-index: 15;

	&__congratulations {
		font-size: 2.2rem;
		display: flex;
		text-align: center;
		font-family: 'Syncopate', sans-serif;
		margin-top: 4%;
	}
	&__mainText {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	&__goal {
		margin-top: 0;
		margin-bottom: 10px;
	}
	&__close-button {
		margin-top: 15px;
		color: black;
		padding: 1% 4%;
		border-radius: 20px;
		font-family: 'Syncopate', sans-serif;
		outline: none;
		transition: all 0.5s;

		&:hover {
			background-color: black;
			color: white;
		}
	}
	&__gratitude-prompt {
		font-size: 1.2rem;
	}
	&__gratitude-buttons-container {
		background-color: black;
		display: flex;
		justify-content: space-between;
		width: 29%;
		margin-bottom: 3%;
	}
	&__gratitude-button {
		font-size: 1.2rem;
		border: 1px solid grey;
		border-radius: 9px;
		width: 45%;
		transition: all 0.2s;

		&:hover {
			background-color: black;
			color: white;
			transition: all 0.2s;
		}
	}
	@include laptop-small() {
		font-size: 0.8rem;
		&__congratulations {
			font-size: 1.8rem;
		}
		&__goal {
			font-size: 0.8rem;
		}
	}

	@include tablet-only() {
		font-size: 0.8rem;
		&__congratulations {
			font-size: 1.5rem;
		}
		&__goal {
			font-size: 0.8rem;
		}
	}

	@include mobile-only() {
		font-size: 0.9rem;
		justify-content: center;

		&__congratulations {
			font-size: 1.6rem;
		}
		&__goal {
			font-size: 0.9rem;
		}
	}
}
.testmodal {
	position: relative;
	z-index: 30;
}
.invisible {
	display: none;
	opacity: 0;
}
.visible {
	display: flex;
}
