@import '@styles/variables';

.wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 70%;
  border: $silver-border-default;
  border-radius: 12px;

  transition: $default-transition;
  position: relative;

  &:hover,
  &:focus {
    border: $silver-border-active;
    transition: $default-transition;
  }
  &.ql-editor {
    background: red;
  }
}
.wrapper > .toolbarToggleButton {
  position: absolute;
  top: 0;
  right: 6px;
}
