@import '@styles/variables';

.wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 70%;
  border: $silver-border-default;
  z-index: $text-entry-z-index;
  border-radius: 12px;
  transition: $default-transition;
  position: relative;

  &:hover,
  &:focus {
    border: $silver-border-active;
    transition: $default-transition;
  }
}

.toolbarToggleButton {
  position: absolute;
  top: 0;
  right: 6px;
  z-index: $text-entry-z-index + 8;
}

.editorContainer {
  position: relative;
  overflow: hidden;
}
