@import '@styles/variables';

.wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 70%;
  border: $silver-border-default;
  z-index: $pillars-z-index + 1;
  border-radius: 12px;
  transition: $default-transition;
  position: relative;

  &:hover,
  &:focus {
    border: $silver-border-active;
    transition: $default-transition;
  }
}
.toolbarToggleButton {
  position: absolute;
  top: 0;
  right: 6px;
  z-index: $pillars-z-index + 1;
}

.red {
  color: red;
}
