.ql-editor {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  padding: 26px;
  padding-right: 46px;
  color: silver;
  max-height: 60vh;
  z-index: 5;
  position: relative;
}

.ql-container.ql-snow {
  border: none;

  &:hover {
    border: none;
  }
}

.ql-toolbar.ql-snow {
  z-index: 99;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-fill {
  stroke: silver;
  // fill: silver;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button.ql-active {
  stroke: silver;
  fill: silver;
}

.ql-editor.ql-blank::before {
  color: rgba(192, 192, 192, 0.5);
  text-align: center;
}

.textArea {
  min-width: 100%;
  height: 100%;
  border-radius: 12px;
}

.noScroll .ql-editor {
  overflow: hidden;
}

.toolbar-hidden {
  .ql-toolbar {
    transition: all 500ms;
    height: 0px;
    padding: 0;
    border: none;
    opacity: 0;
  }
}

.toolbar-visible {
  .ql-toolbar {
    transition: all 500ms;
    opacity: 1;
  }
}
