@import '@styles/variables.scss';

.ql-editor {
  font-family: $main-text;
  caret-color: $silver-active;
  max-height: 60vh;
  z-index: 6;
  pointer-events: auto;
  box-sizing: $main-text-box-sizing;
  font-size: $main-text-font-size;

  ol li,
  ul li {
    font-size: $main-text-font-size;
  }
}

.ql-container.ql-snow {
  border: none;

  &:hover {
    border: none;
  }
}

.ql-toolbar.ql-snow {
  z-index: 99;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-fill {
  stroke: silver;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button.ql-active {
  stroke: silver;
  fill: silver;
}

.ql-editor.ql-blank::before {
  color: rgba(192, 192, 192, 0.5);
  text-align: center;
}

.textArea {
  min-width: 100%;
  height: 100%;
  border-radius: 12px;
}

.noScroll .ql-editor {
  overflow: hidden;
}

.toolbar-hidden {
  .ql-toolbar {
    transition: all 500ms;
    height: 0px;
    padding: 0;
    border: none;
    opacity: 0;
  }
}

.toolbar-visible {
  .ql-toolbar {
    transition: all 500ms;
    opacity: 1;
  }
}

.visibleText .ql-editor {
  color: $silver-default;
}

.hiddenText .ql-editor {
  color: transparent;

  // Main text Variables
  padding: 0;
  margin: 0;
  box-sizing: $main-text-box-sizing;
  top: $main-top-offset;
  transition: all 1s;

  p,
  li {
    font-weight: 200;
    font-size: $main-text-font-size;
    line-height: $main-text-line-height;
    padding-left: $main-text-padding-left;
    padding-top: 0;
    padding-bottom: $main-text-padding-bottom;
    padding-right: $main-text-padding-right;
    box-sizing: $main-text-box-sizing;
    margin-top: $main-top-offset;
    transition: all 1s;
  }
}
