@import '../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap');
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/base.scss';



body{
    background-color:black;

}

.box {
    width: 100px;
    height: 100px;
    background: #ff1c68;
  }

.main{
    font-family: 'Maven Pro', sans-serif;
    display:flex;
    color:silver;
    background-color:black;
    align-items: center;
    flex-direction: column;

    &__header{
        font-size:3.8rem;
        margin-top:100px;
        margin-bottom:36px;
        transform-origin: 50% 50%;
        text-shadow: 2px 1px 5px silver;
    }
    &__goal{
        font-size:1.5rem;
    }
    
    &__limit{
        color:silver;
    }
    &__prompt{
        overflow:hidden;
        width:60%;
        color:red;
    }
    &__pillars-date-goal-wordcount-textarea-container{
        // border:1px solid white;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        height:600px;
        width:80%;
    }
    &__date-goal-wordcount-textarea-container{
        display:flex;
        flex-direction: column;
        // border:1px solid white;
        width:80%;
    }
    &__pillar-left-container{
        width:20%;
    }
    &__pillar-left-outline{
        position:relative;
        width:100%;
        top:10px;
        z-index: 3;
        height:99%;
    }
    &__pillar-left{
        position:relative;
        bottom:100px;
        left:1px;
        // background-image:url('../../assets/Vaginabunnyrabbitglow.jpg');
        // background-color:silver;  
        // border:1px solid white;
        z-index: 2;
        width:99%;
        height:100px
    }
    &__pillar-top-container{
        width:80%;
        height:150px;
    }
    &__pillar-top-outline{
        position:relative;
        width:100%;
        z-index:3;
        height:100%;
        // border:1px solid red;
    }
    &__pillar-top{
        position:relative;
        top:-100%;
        width:10px;
        background-color:silver;
        height:80%;
        z-index: 2;
    }
    &__pillar-bottom-container{
        width:80%;
        height:150px;
        // border:1px solid red;
    }
    &__pillar-bottom-outline{
        position:relative;
        width:100%;
        z-index:3;
        height:100%;
        // border:1px solid red;
    }
    &__pillar-bottom{
        background-color:silver;

        position:relative;
        overflow: hidden;
        top:-100%;
        width:200px;
        left:1850px;
        height:80%;
        z-index: 1;
    }
    
    &__pillar-right-container{
        // border:1px solid red;
        width:20%;
    }
    &__pillar-right-outline{
        position:relative;
        width:100%;
        top:10px;
        z-index: 3;
        height:100%;
    }
    &__pillar-right{
        position:relative;
        top:-590px;
        background-color:silver;
        border-bottom:1px solid white;
        border-radius:50%;
        z-index: 2;
        width:99%;

    }
   
    &__prompt{
        overflow:hidden;
        width:80%;
        color:red;
    }
    &__date-goal-wordcount-container{
        display:flex;
        justify-content: space-between;
        font-size:24px;
        flex-direction:row;
    }
    &__textarea{
        display:flex;
        font-family: 'Maven Pro', sans-serif;
        justify-content: center;
        width:100%;
        font-size:1.4rem;
        height:400px;
        resize:none;
        border-radius:4px;
        padding:13px;
        text-align:center;
        box-shadow: none;
        border:1px solid grey;
        background-color:black;
        color:white;
        outline:none;
    }
   
}