@import '@styles/variables';

.wrapper {
  width: 70%;
}

.loader {
  display: flex;
  align-items: center;
}

.listContainer {
  padding: 0;
  overflow: auto;
  max-height: 60vh;
}

.nodesTitle {
  font-family: 'Syncopate', sans-serif;
}

.divider {
  margin: 12px 0;
  border-top: 2px solid rgba(192, 192, 192, 0.8);
}

.headerContainer {
  grid-template-columns: $entries-list-columns;
  gap: 8px;
  display: grid;
}

.listHeader {
  font-family: 'Syncopate', sans-serif;
  font-size: 1.3rem;
  color: $white-text-color;
  margin: 0;
}

.searchSortContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
