@import './mixins.scss';
@import './variables.scss';

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  color: $black-text-color;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Hide all tooltips on mobile
@include mobile-all {
  body {
    overflow: hidden;
  }

  .react-tooltip {
    display: none !important;
  }
}
