@import './variables.scss';

//Screen Sizes
@mixin mobile-small-only() {
	@media #{$mobile-small-only} {
		@content;
	}
}
@mixin mobile-only() {
	@media #{$mobile-only} {
		@content;
	}
}
@mixin tablet-only() {
	@media #{$tablet-only} {
		@content;
	}
}
//Laptop Small is 993 - 1199
@mixin laptop-small() {
	@media #{$laptop-small} {
		@content;
	}
}
@mixin laptop-large() {
	@media #{$laptop-large} {
		@content;
	}
}

@mixin button-styles() {
	padding: 8% 10%;
	outline: none;
	text-decoration: none;
	width: 100%;
	color: black;
	font-size: 1.3rem;
	font-family: 'Syncopate', sans-serif;
	border-radius: 9%;
	&:hover {
		transition: all 0.4s;
		color: white;
		text-shadow: 3px 3px 3px silver;
		border-radius: 19%;
	}
}

@mixin main-page-global-styles() {
	position: relative;
	height: 100%;
	z-index: 2;
	font-family: 'Poppins', sans-serif;
	display: flex;
}
