$black-text-color: #323232;
$white-text-color: #ffffff;
$divider-color: #e1e1e1;
$top-margin: 1%;
$top-margin-not-main: 4.5%;
$header-text-size: 2.5rem;
$not-main-margin-left: 16%;
$mobile-small-max: 425px;
$mobile-min: 426px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 992px;
$laptop-small-min: 993px;
$laptop-small-max: 1199px;
$laptop-large-min: 1200px;
$mobile-small-only: 'screen and (max-width:#{$mobile-max})';
$mobile-only: 'screen and (min-width:#{$mobile-small-max}) and (max-width: #{$mobile-max})';
$tablet-only: 'screen and (min-width:#{$tablet-min}) and (max-width: #{$tablet-max})';
$laptop-small: 'screen and (min-width:#{$laptop-small-min}) and (max-width: #{$laptop-small-max})';
$laptop-large: 'screen and (min-width: #{$laptop-large-min})';
