$regular-font: Avenir Next-regular;
$bold-font: Avenir Next-bold;
$demibold-font: Avenir Next-bolder;
$black-text-color: #323232;
$white-text-color: #ffffff;
$grey-color: #fafafa;
$silver-color: #afafaf;
$divider-color: #e1e1e1;
$top-margin: 2.5%;
$top-margin-not-main: 4.5%;
$header-text-size: 2.5rem;
$not-main-margin-left: 16%;
