// Font
$main-text: 'Poppins', sans-serif;

// Colors
$black-text-color: #323232;
$white-text-color: #ffffff;
$silver-active: rgba(192, 192, 192, 0.9);
$silver-default: rgba(192, 192, 192, 0.7);
$silver-faded: rgba(192, 192, 192, 0.5);

// z-index
$pillars-z-index: 4;
$text-entry-z-index: $pillars-z-index + 1;
$sidebar-z-index: $pillars-z-index + 2;
$connection-lines-z-index: 1;
$buttons-z-index: 2;
$dropdown-z-index: 100;

// Mobile search expanded offset
$mobile-search-expanded-offset: 3.125rem;
// Borders
$silver-border-default: 1px solid rgba(192, 192, 192, 0.5);
$silver-border-active: 1px solid rgba(192, 192, 192, 0.5);
$default-border-radius: 0.5rem;

// Grid
$entries-list-columns: 25% 12% 12% 15% 10% 20%;
$dashboard-nodes-columns: 5% 18% 40% 15% 10% 5%;
// $dashboard-nodes-columns: repeat(auto-fit, minmax(1rem, max-content));

// Transition Time
$default-transition: all 250ms ease-in-out;

// Main Text and overlay Variables
$main-text-font-size: 1.1875rem;
$main-text-line-height: 1.5rem;
$main-text-padding-left: 1.625rem;
$main-text-padding-bottom: 1.625rem;
$main-text-padding-right: 2.875rem;
$main-text-box-sizing: border-box;
$main-top-offset: 1rem;
$li-padding-bottom: 1.125rem;

// MISC
$divider-color: #e1e1e1;
$top-margin: 1%;
$top-margin-not-main: 4.5%;
$header-text-size: 2.5rem;
$not-main-margin-left: 16%;

// Breakpoints
$mobile-small-max: 26.5625rem;
$mobile-min: 26.625rem;
$mobile-max: 47.9375rem;
$tablet-min: 48rem;
$tablet-max: 62rem;
$laptop-small-min: 62.0625rem;
$laptop-small-max: 74.9375rem;
$laptop-large-min: 75rem;
$laptop-xl-min: 93.75rem;

$mobile-all: 'screen and (max-width:#{$mobile-max})';
$mobile-small-only: 'screen and (max-width:#{$mobile-max})';
$mobile-only: 'screen and (min-width:#{$mobile-small-max}) and (max-width: #{$mobile-max})';
$tablet-only: 'screen and (min-width:#{$tablet-min}) and (max-width: #{$tablet-max})';
$laptop-small: 'screen and (min-width:#{$laptop-small-min}) and (max-width: #{$laptop-small-max})';
$laptop-large: 'screen and (min-width: #{$laptop-large-min})';
$laptop-xl: 'screen and (min-width: #{$laptop-xl-min})';
