$regular-font: Avenir Next-regular;
$bold-font: Avenir Next-bold;
$demibold-font: Avenir Next-bolder;
$black-text-color: #323232;
$white-text-color: #FFFFFF;
$grey-color: #fafafa;
$silver-color: #afafaf;
$divider-color: #E1E1E1;
$top-margin:3%;