.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nodesWrapper {
  width: 70vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
