.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nodesWrapper {
  width: 70vw;
  height: 80vw;
  border: 1px solid silver;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
