@import '@styles/mixins.scss';

.wrapper {
  width: 100%;
}

.allEntriesContainer {
  display: flex;
  flex-direction: column;
}

.goalProgress {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}
